{% set pageTitle = "Screening for Down's, Edwards' and Patau's syndromes" %}
{% set parentPage = "Tests & Scans" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumb_impregnant_testscans_levelsix.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>
        {{ pageTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ parentPage }}
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/im-pregnant/tests-and-scans/test-downs",
            text: "What are Down's, Edwards' and Patau's syndromes?"
          },
          {
            href: "/im-pregnant/tests-and-scans/test-downs-2",
            text: "The screenings",
            current: "true"
          },
          {
            href: "/im-pregnant/tests-and-scans/test-downs-3",
            text: "Your results"
          },
          {
            href: "/im-pregnant/tests-and-scans/test-downs-4",
            text: "What to do if the results are positive"
          }
        ]
      }) }}


      <h2>What does screening for Down's, Edwards' and Patau's syndromes involve?</h2>
      <h3>Combined test</h3>
      <p>A screening test for Down's, Edwards' and Patau's syndromes is available between <strong>weeks 10 and 14</strong> of pregnancy. It's called the combined test because it combines an ultrasound scan with a blood test. The scan can be carried out at the same time as the pregnancy dating scan.</p>

      <p>If you choose to have the test, you will have a blood sample taken. At the scan, the fluid at the back of the baby's neck is measured to determine the "nuchal translucency". Your age and the information from these two tests is used to work out the chance of the baby having Down's, Edwards' or Patau's syndromes.</p>

      <p>Obtaining a nuchal translucency measurement depends on the position of the baby and is not always possible. If this is the case, you will be offered a different blood screening test, called the quadruple test, when you're <strong>14 to 20</strong> weeks pregnant.</p>

      <h3>Quadruple blood screening test</h3>
      <p>If it wasn't possible to obtain a nuchal translucency measurement, or you're more than 14 weeks into your pregnancy, you'll be offered a test called the quadruple blood screening test between <strong>14 and 20</strong> weeks of pregnancy. This only screens for Down's syndrome and is not quite as accurate as the combined test.</p>

      <h3>Mid-pregnancy scan</h3>
      <p>For Edwards' and Patau's syndromes, if you are too far into your pregnancy to have the combined test, you'll be offered a mid-pregnancy scan. This looks for physical abnormalities and 11 rare conditions, including Edwards' and Patau's syndromes.</p>

      
      <div class="nhsuk-navigation__contextual-links">
        <h3>Relevant links</h3><a name="appoint1"></a>
        <ul>
          <li><a href="#appoint1" title="">The mid-pregnancy scan</a></li>
        </ul>
      </div>

      <h2>Can this screening test harm me or my baby?</h2>
      <p>The screening test cannot harm you or the baby, but it's important to consider carefully whether to have this test.</p>

      <p>It cannot tell you for certain whether the baby does or doesn't have Down's, Edward's or Patau's syndromes, but it can provide information that may lead to further important decisions. For example, you may be offered diagnostic tests that can tell you for certain whether the baby has these conditions, but these tests have a risk of miscarriage.</p>

      <h2>Do I need to have screening for Down's, Edwards' and Patau's syndromes?</h2>
      <p>You do not need to have this screening test – it's your choice. Some people want to find out the chance of their baby having these conditions while others don't.</p>

      <p>You can choose to have screening for:
      <ul>
        <li>all 3 conditions</li>
        <li>Down's syndrome only</li>
        <li>Edwards' and Patau's syndromes only</li>
        <li>none of the conditions</li>
      </ul>
      </p>

      <h2>What if I decide not to have this test?</h2>
      <p>If you choose not to have the screening test for Down's, Edwards' or Patau's syndromes, you can still choose to have other tests, such as a dating scan.</p>

      <p>If you choose not to have the screening test for these conditions, it's important to understand that if you have a scan at any point during your pregnancy, it could pick up physical abnormalities.</p>

      <p>The person scanning you will always tell you if any abnormalities are found.</p>

      {{ pagination({
        "previousUrl": "/im-pregnant/tests-and-scans/test-downs",
        "previousPage": "What are Down's, Edwards' and Patau's syndromes?",
        "nextUrl": "/im-pregnant/tests-and-scans/test-downs-3",
        "nextPage": "Your results"
      }) }}
    

    </div>
  </div>
{% endblock %}
