<div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
  <div class="nhsuk-promo">
    <a href="#topic" class="nhsuk-promo__link-wrapper">
      <div class="nhsuk-promo__content">
        <h3 class="nhsuk-promo__heading">Problems getting pregnant</h3>
        <p class="nhsuk-promo__description">It's impossible to say how long it takes to get pregnant because it's different for each woman. Many factors can affect a couple's chances of conceiving.</p>
      </div>
    </a>
  </div>
</div>