<!-- 
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set pageTitle = "Weeks 0 to 8" %}
{% set parentPage = "I'm pregnant" %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}
{% set bodyClasses = ‘nhsuk-main-wrapper--test’ %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  I'm pregnant
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {% include "includes/breadcrumb_levelfive.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        {{ pageTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
      </h1>
      <p>Your weeks of pregnancy are dated from the first day of your last period. This means that in the first 2 weeks or so, you aren't actually pregnant – your body is preparing for ovulation (releasing an egg from one of your ovaries) as usual.</p>
      <div> 
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <hr class="nhsuk-hr">
    <h2>Your pregnancy week by week</h2>
    {% include "includes/carousel_week_zero_to_eight.html" %}
    
  </div> 
</div> 
<hr class="nhsuk-hr">



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% include "includes/promos/promo_fullwidth_earlydays.html" %}
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <hr class="nhsuk-hr">
    <div class="block-links_list_group">
      <h2>Popular pages</h2>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
            <ul class="nhsuk-list nhsuk-list-links">
              <div><a href="">Signs of labour</a></div>
              <div><a href="">Pain relief in labour</a></div>
              <div><a href="">What happens during labour and birth</a></div>       
              <div><a href="">Premature labour</a></div>    
            </ul>
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirdsnhsuk-grid-column-one-half">
          <ul class="nhsuk-list nhsuk-list-links">
            <div><a href="">Pack your bag for labour</a></div>
            <div><a href="">At the hospital or birth centre</a></div>
            <div><a href="">What happens straight after the birth?</a></div>
            <div><a href="">Not sure you want to be pregnant?</a></div>
          </ul>
        </div>
      </div>
      <hr class="nhsuk-hr">
  </div>
</div> 

<!--<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>{{ pageTitle }} topics</h2>
    <div class="nhsuk-grid-row nhsuk-promo-group">    
      {% include "includes/promos/promo_amipregnant.html" %}
      {% include "includes/promos/promo_antenatalcare.html" %}
      {% include "includes/promos/promo_testsandscans.html" %}
    </div>  

    <div class="nhsuk-grid-row nhsuk-promo-group">
      {% include "includes/promos/promo_food.html" %}
      {% include "includes/promos/promo_pain.html" %}
      {% include "includes/promos/promo_existinghealth.html" %}
    </div>

    <div class="nhsuk-grid-row nhsuk-promo-group">
      {% include "includes/promos/promo_illness.html" %}
      {% include "includes/promos/promo_pain.html" %}
      {% include "includes/promos/promo_existinghealth.html" %}
    </div>

    <hr class="nhsuk-hr">
  </div>
</div>-->


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
