<section id="video-why-am-i-being-asked-about-domestic-abuse">
      <h2>What should I do if I start bleeding during early pregnancy?</h2>
      <link href="/static/css/core-videos.cf16adba2d44.css" rel="stylesheet" type="text/css">
      <div class="nksuk-core_video">
        <div style="position: relative; display: block; max-width: 100%;">
          <div style="padding-top: 56.25%;">
            <div tabindex="-1" id="vjs_video_3" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;" class="video-js vjs-mouse vjs-paused vjs-controls-enabled vjs-workinghover vjs-v5 bc-player-EkC1XU82e_default vjs-dock vjs-plugins-ready vjs-contextmenu vjs-contextmenu-ui vjs-player-info vjs-errors not-hover vjs-user-inactive" data-application-id="" data-embed="default" data-player="EkC1XU82e" data-account="79855382001" data-video-id="5679197542001" role="region" aria-label="video player">
              <!-- === start edit === -->
              <video data-video-id="5679197513001" data-account="79855382001" data-player="EkC1XU82e" data-embed="default" data-application-id="" class="vjs-tech" style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; width: 100%; height: 100%;" id="vjs_video_3_html5_api" tabindex="-1" aria-labelledby="vjs-dock-title-1" aria-describedby="vjs-dock-description-2" poster="https://f1.media.brightcove.com/8/1336131381001/1336131381001_1645193689001_35-What-If-start-bleeding--2-.jpg?pubId=79855382001&amp;videoId=5679197513001" src="blob:https://www.nhs.uk/6b8590d7-713c-4587-a1d8-f58cf4a52858">
                </video>
              <div class="vjs-poster" tabindex="-1" aria-disabled="false" style="background-image: url(&quot;https://f1.media.brightcove.com/8/1336131381001/1336131381001_1645193689001_35-What-If-start-bleeding--2-.jpg?pubId=79855382001&amp;videoId=5679197513001&quot;);"></div>
              <div class="vjs-text-track-display" aria-live="off" aria-atomic="true">
                <div style="position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; margin: 1.5%;"></div>
              </div>
              <div class="vjs-dock-text">
                <div class="vjs-dock-title" title="" id="vjs-dock-title-1">What should I do if I start bleeding during early pregnancy?</div><div class="vjs-dock-description" title="" id="vjs-dock-description-2">Watch this film to find out what to do if you start to bleed in pregnancy.</div>
              </div>
              <!-- === end edit change === -->
              <div class="vjs-dock-shelf"></div>
              <div class="vjs-loading-spinner" dir="ltr"></div>
              <button class="vjs-big-play-button" type="button" aria-live="polite" title="Play Video" aria-disabled="false">
                <span class="vjs-control-text">Play Video</span>
              </button>
              <div class="vjs-control-bar" dir="ltr" role="group">
                <button class="vjs-play-control vjs-control vjs-button" type="button" aria-live="polite" title="Play" aria-disabled="false"></button>
                <div class="vjs-volume-menu-button vjs-menu-button vjs-menu-button-inline vjs-control vjs-button vjs-volume-menu-button-horizontal vjs-vol-3" tabindex="0" role="button" aria-live="polite" title="Mute" aria-disabled="false">
                  <div class="vjs-menu">
                    <div class="vjs-menu-content">
                      <div tabindex="0" class="vjs-volume-bar vjs-slider-bar vjs-slider vjs-slider-horizontal" role="slider" aria-valuenow="100.00" aria-valuemin="0" aria-valuemax="100" aria-label="volume level" aria-valuetext="100.00%">
                        <div class="vjs-volume-level"><span class="vjs-control-text"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <script src="//vjs.zencdn.net/vttjs/0.12.5/vtt.global.min.js"></script>
            </div>
            <script src="//players.brightcove.net/79855382001/EkC1XU82e_default/index.min.js"></script>
          </div>
        </div>
        <div class="nhsuk-core_video--information">
          <a href="javascript:void(0);">
            <strong>View all pregnancy videos</strong>
          </a>
          <p>Media last reviewed: 27/02/2017</p>
          <p>Media review due: 20/03/2020</p>   
        </div>
        </div>
        <hr class="nhsuk-hr">
    </section>