{% set pageTitle = "Antenatal checks and scans" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_impregnant_antenatal_levelsix.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>
        {{ pageTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ parentPage }}
        </span>
      </h1>

     {{ contentsList({
        items: [
          {
            href: "/im-pregnant/antenatal/antenatal-checks",
            text: "Antenatal checks and tests"
          },
          {
            href: "/im-pregnant/antenatal/antenatal-checks-2",
            text: "Regular tests"
          },
          {
            href: "/im-pregnant/antenatal/antenatal-checks-3",
            text: "One-off tests",
            current: "true"
          }
        ]
      }) }}

      <h2>Weight and height checks in pregnancy</h2>
      <p>You'll be weighed at your booking appointment, but you won't be weighed regularly during your pregnancy. Your height and weight are used to calculate your body mass index (BMI).</p>

      <p>Women who are overweight for their height are at increased risk of problems during pregnancy.</p>

      Find out more about being overweight when you get pregnant.

      <p>Most women put on 10 to 12.5kg (22 to 28lb) in pregnancy, largely after they are 20 weeks pregnant. Much of the extra weight is because the baby is growing, but your body also stores fat for making breast milk after birth.</p> 

      <p>It's important to eat the right foods and do regular exercise during your pregnancy.</p>

      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li><a href="javascript:void(0);" title="">Overweight and pregnant</a></li>
          <li><a href="javascript:void(0);" title="">20 weeks pregnant</a></li>
          <li><a href="javascript:void(0);" title="">Have a healthy diet in pregnancy</a></li>
          <li><a href="javascript:void(0);" title="">Exercise in pregnancy</a></li>
        </ul>
      </div>

      <h2>Blood tests in pregnancy</h2>
      <p>As part of your antenatal care, you'll be offered several blood tests. Some are offered to all women while others are only offered if you might be at risk of a particular infection or condition.</p>

      <p>All the tests are done to make your pregnancy safer or check that the baby is healthy, but you don't have to have them if you don't want to.</p>

      <p>Talk to your midwife or doctor, and give yourself enough time to make your decision. They will also give you written information about the tests.</p>

      <h2>Screening for HIV, syphilis and hepatitis B</h2>
      <p>You'll be offered a blood test for three infectious diseases:
        <ul>
          <li>HIV</li>
          <li>hepatitis B</li>
          <li>syphilis</li>
        </ul>
      </p>

      <p>This is usually offered at an appointment with a midwife when you are around 8 to 12 weeks pregnant.</p>

      <p>The tests are recommended to protect your health through early treatment and care, and reduce any risk of passing on an infection to your baby, partner or other family members.</p>

      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li><a href="javascript:void(0);" title="">Screening for hepatitis B, HIV and syphilis</a></li>
        </ul>
      </div>

      <h2>Blood group and rhesus status</h2>
      <p>It's useful to know your blood group in case you need to be given blood – for example, if you have heavy bleeding (haemorrhage) during pregnancy or birth.</p>

      <p>The test tells you whether you are blood group rhesus negative or rhesus positive. Women who are rhesus negative may need extra care to reduce the risk of rhesus disease.</p>

      <p>Rhesus disease can happen if a pregnant woman who is rhesus negative develops antibodies that attack the baby's blood cells. This can lead to anaemia and jaundice in the baby.</p>

      <p>If you're rhesus negative, you may be offered injections during pregnancy to prevent you from producing these antibodies. This is safe for both mother and baby.</p>

      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li><a href="javascript:void(0);" title="">NHS - Rhesus disease</a></li>
        </ul>
      </div>

      <h2>Anaemia</h2>
      <p>Anaemia makes you tired and less able to cope with loss of blood when you give birth.</p>

      <p>You should be offered screening for anaemia at your booking appointment and at 28 weeks.</p>

      <p>If tests show you're anaemic, you'll probably be offered iron and folic acid.</p>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li><a href="javascript:void(0);" title="">NHS - Iron deficiency anaemia</a></li>
          <li><a href="javascript:void(0);" title="">28 weeks pregnant</a></li>
        </ul>
      </div>

      <h2>Gestational diabetes</h2>
      <p>You may be at higher risk of developing diabetes in pregnancy (gestational diabetes) if you:
        <ul>
          <li>are overweight</li>
          <li>have had diabetes in pregnancy before</li>
          <li>have had a baby weighing 4.5kg (9.9lb) or more before</li>
          <li>have a close relative with diabetes</li>
          <li>are of southeast Asian, black Caribbean or Middle Eastern origin</li>
        </ul>
      </p>
      <p>If you're considered to be at high risk for gestational diabetes, you may be offered a test called the OGTT (oral glucose tolerance test). This involves drinking a sugary drink and having blood tests.</p>

      <p>The OGTT is done when you're between 24 and 28 weeks pregnant. If you've had gestational diabetes before, you'll be offered:
        <ul>
            <li>early self-monitoring of blood glucose levels, or</li>
            <li>an OGTT earlier in pregnancy, soon after your booking visit, and another at 24 to 28 weeks if the first test is normal
          Find out more about gestational diabetes.</li>
        </ul>
      </p>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li><a href="javascript:void(0);" title="">NHS - Gestational diabetes</a></li>
        </ul>
      </div>

      {{ pagination({
        "previousUrl": "/im-pregnant/antenatal/antenatal-checks-2",
        "previousPage": "Regular tests"
      }) }}

    </div>
  </div>
{% endblock %}
