{% set pageTitle = "Antenatal checks and scans" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_impregnant_antenatal_levelsix.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>
        {{ pageTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ parentPage }}
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/im-pregnant/antenatal/antenatal-checks",
            text: "Antenatal checks and tests",
            current: "true"
          },
          {
            href: "/im-pregnant/antenatal/antenatal-checks-2",
            text: "Regular tests"
          },
          {
            href: "/im-pregnant/antenatal/antenatal-checks-3",
            text: "One-off tests"
          }
        ]
      }) }}

      <h2>Antenatal checks and tests</h2>
      <p>During your pregnancy, you'll be offered a range of tests, including blood tests and ultrasound baby scans.</p>

      <p>These are designed to:
        <ul>
          <li>help make your pregnancy safer</li>
          <li>check and assess the development and wellbeing of you and your baby</li>
          <li>screen for particular conditions</li>
          </ul>
        </p>
        <p>You don't have to have any of the tests – it's your choice. However, it's important to understand the purpose of all tests so you can make an informed decision about whether to have them. You can discuss this with your maternity team.</p>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3><a name="care1"></a>
        <ul>
          <li><a href="#care1" title="">Ultrasound scans in pregnancy</a></li>
        </ul>
      </div>


      {{ pagination({
        "nextUrl": "/im-pregnant/antenatal/antenatal-checks-2",
        "nextPage": "Regular tests"
      }) }}

    </div>
  </div>
{% endblock %}
