{% set pageTitle = "Antenatal checks and scans" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumb_impregnant_antenatal_levelsix.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>
        {{ pageTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ parentPage }}
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/im-pregnant/antenatal/antenatal-checks",
            text: "Antenatal checks and tests"
          },
          {
            href: "/im-pregnant/antenatal/antenatal-checks-2",
            text: "Regular tests",
            current: "true"
          },
          {
            href: "/im-pregnant/antenatal/antenatal-checks-3",
            text: "One-off tests"
          }
        ]
      }) }}

      <h2>Antenatal urine tests</h2>
      <p>You'll be asked to give a urine sample at your antenatal appointments. Your urine is checked for several things, including protein.</p>

      <p>If this is found in your urine, it may mean you have an infection that needs to be treated. It may also be a sign of pre-eclampsia.</p>

      <p>Pre-eclampsia affects 5% of pregnancies and can lead to a variety of problems, including fits (seizures). If left untreated, it can be life-threatening.</p>

      <p>Pre-eclampsia can also affect the growth and health of the baby. Women with the condition usually feel perfectly well.</p>

      <h2>Blood pressure tests in pregnancy</h2>
      
      <p>Your blood pressure will be checked at every antenatal visit. A rise in blood pressure later in pregnancy could be a sign of pre-eclampsia.</p>

      <p>It's very common for your blood pressure to be lower in the middle of your pregnancy than at other times. This isn't a problem, but it may make you feel lightheaded if you get up quickly. Talk to your midwife if you're concerned about it.</p>

      <div class="nhsuk-navigation__contextual-links">
        <h3>Relevant links</h3><a name="care1"></a>
        <ul>
          <li><a href="#care1" title="">High blood pressure (hypertension) and pregnancy</a></li>
          <li><a href="#care1" title="">NHS - Pre-eclampsia</a></li>
        </ul>
      </div>


      {{ pagination({
        "previousUrl": "/im-pregnant/antenatal/antenatal-checks",
        "previousPage": "Antenatal checks and tests",
        "nextUrl": "/im-pregnant/antenatal/antenatal-checks-3",
        "nextPage": "One-off tests"
      }) }}

    </div>
  </div>
{% endblock %}
