{% set pageTitle = "Antenatal care" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
 NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_impregnant_antenatal_levelsix.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>
        {{ pageTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ parentPage }}
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/im-pregnant/antenatal/antenatal-care",
            text: "Antenatal care"
          },
          {
            href: "/im-pregnant/antenatal/antenatal-care-2",
            text: "Antenatal appointments"
          },
          {
            href: "/im-pregnant/antenatal/antenatal-care-3",
            text: "Preparing",
            current: "true"
          }
        ]
      }) }}

      <h2>Planning ahead for your appointments</h2>
      <p>Waiting times in clinics can vary and having to wait a long time for an appointment can be particularly difficult if you have young children with you.</p>

      <p>Planning ahead can make your visits easier. Here are some suggestions:</p> 
      <ul>
        <li>write a list of any questions you want to ask and take it with you</li>
        <li>make sure you get answers to your questions or the chance to discuss any worries</li>
        <li>if your partner is free, they may be able to go with you – this can help them feel more involved in the pregnancy</li>
        <li>you can buy refreshments in some clinics – if yours doesn't, take a snack with you</li>
      </ul>
      <p>The National Institute for Health and Care Excellence (NICE) antenatal care guidelines give useful information on the timing of visits during pregnancy and a description of what will happen each time.</p>



      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li><a href="javascript:void(0);" title="">National Institute for Health and Care Excellence (NICE) antenatal care guidelines</a></li>
        </ul>
      </div>

      <h2>Your baby's movements</h2>
      <p>Keep track of your baby's movements. At any stage of pregnancy, if your baby's movements become less frequent, slow down or stop (called reduced foetal movement), contact your midwife or doctor immediately – don't wait until the next day.</p>

      <p>You'll be offered an ultrasound scan if they have any concerns about how your baby is growing and developing.</p>

      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li><a href="javascript:void(0);" title="">Ultrasound scans in pregnancy</a></li>
          <li><a href="javascript:void(0);" title="">Keep track of your baby's movements during pregnancy (Tommy's website)</a></li>
        </ul>
      </div>

      <h2>Your maternity notes</h2>
      <p>At your booking appointment, your midwife will put your details in a record book and add to them at each appointment. These are your maternity notes (sometimes called handheld notes). You'll take your maternity notes home and be asked to bring them to all your antenatal appointments.</p>

      <p>Take your notes with you wherever you go, in case you need medical attention while you're away from home. You can ask your maternity team to explain anything in your notes that you don't understand.</p>

      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li><a href="javascript:void(0);" title="">Get Start4Life pregnancy and baby emails</a></li>
          <li><a href="javascript:void(0);" title="">Get pregnancy and baby apps and tools in the NHS apps library</a></li>
        </ul>
      </div>

      

      {{ pagination({
        "previousUrl": "/im-pregnant/antenatal/antenatal-care-2",
        "previousPage": "Antenatal appointments"
      }) }}

    </div>
  </div>
{% endblock %}
