{% set pageTitle = "Your pregnancy journey" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_impregnant_levelfive.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ pageTitle }}
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
    </h1>
    <p>Antenatal care is the care you get from health professionals during your pregnancy. It's sometimes called pregnancy care or maternity care. You'll be offered appointments with a midwife, or sometimes a doctor who specialises in pregnancy and birth (an obstetrician). </p>
    <p>You should start your antenatal care as soon as possible once you know you're pregnant. You can do this by contacting a midwife or GP.</p> 
  </div>
</div>
<hr class="nhsuk-hr">



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="block-links_list_group">
      <h2>All antenatal pages</h2>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
          <h3>Antenatal care</h3>
            <ul class="nhsuk-list nhsuk-list-links">
              <li>{% include "includes/links/antenatal_care.html" %}</li>
              <li>{% include "includes/links/antenatal_checks.html" %}</li>
              <li><a href="javascript:void(0);">Your antenatal appointments</a></li>
              <li><a href="javascript:void(0);">Antenatal support: meet the team</a></li>          
            </ul>
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
          <h3>Tests and scans</h3>
          <ul class="nhsuk-list nhsuk-list-links">
            <li>{% include "includes/links/twelve_week_scan.html" %}</li>
            <li><a href="javascript:void(0);">The mid pregnancy scan</a></li>
            <li>{% include "includes/links/test_downs.html" %}</li>
            <li><a href="javascript:void(0);">Ultrasound scans in pregnancy</a></li>
          </ul>
        </div>
      </div>
     
  </div>
</div> 
 <hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Useful topics</h2>
    <div class="nhsuk-grid-row nhsuk-promo-group">
      {% include "includes/promos/promo_benefits.html" %}
      {% include "includes/promos/promo_existinghealth.html" %}
      {% include "includes/promos/promo_preginduced.html" %}
    </div>

    <div class="nhsuk-grid-row nhsuk-promo-group">    
      {% include "includes/promos/promo_illness.html" %}
      {% include "includes/promos/promo_lifestylewellbeing.html" %}
      {% include "includes/promos/promo_medicines.html" %}
    </div>
    <hr class="nhsuk-hr">
  </div>
</div>

{% endblock %}
