{% set pageTitle = "Page Title" %}
{% set parentPage = "Parent 1 up" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}
<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_levelfive.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ pageTitle }}
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
    </h1>
    <p>You'll be offered various screening and tests at this stage in your pregnancy and it's important that you make a note of when these tests are available.</p>
    <hr class="nhsuk-hr">
  </div>
</div>


{% endblock %}