<div class="block-links_list_group">
  <h2>Relevant pages</h2><a name="links"></a>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
      <ul class="nhsuk-list nhsuk-list-links">
        <li>{% include "includes/links/signs_pregnancy.html" %}</li>
        <li>{% include "includes/links/pregnancy_to_do.html" %}</li>
        <li><a href="#links" title="">Pregnancy due date calculator</a></li>
        <li><a href="#links" title="">Health things you should know in pregnancy</a></li>                  
      </ul>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
    <ul class="nhsuk-list nhsuk-list-links"> 
      <li>{% include "includes/links/antenatal_care.html" %}</li>
      <li>{% include "includes/links/antenatal_checks.html" %}</li>
      <li>{% include "includes/links/twelve_week_scan.html" %}</li>
      <li><a href="#links" title="">Vitamins, supplements and nutrition in pregnancy</a></li>
    </ul>
  </div>
</div>