<div class="block-links_list_group">
  <h2>Relevant pages</h2><a name="links"></a>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
      <ul class="nhsuk-list nhsuk-list-links">
        <div>{% include "includes/links/signs_pregnancy.html" %}</div>
        <div>{% include "includes/links/pregnancy_to_do.html" %}</div>
        <div><a href="#links" title="">Pregnancy due date calculator</a></div>
        <div><a href="#links" title="">Health things you should know in pregnancy</a></div>                  
      </ul>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
    <ul class="nhsuk-list nhsuk-list-links"> 
      <div>{% include "includes/links/antenatal_care.html" %}</div>
      <div>{% include "includes/links/antenatal_checks.html" %}</div>
      <div>{% include "includes/links/twelve_week_scan.html" %}</div>
      <div><a href="#links" title="">Vitamins, supplements and nutrition in pregnancy</a></div>
    </ul>
  </div>
</div>