<div class="block-links_list_group">
  <h2>Popular pages</h2><a name="links"></a>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
      <ul class="nhsuk-list nhsuk-list-links">
        <li><a href="#">Planning your pregnancy</a></li>
        <li><a href="#">Trying to get pregnant</a></li>
        <li><a href="#">How long does it usually take to get pregnant?</a></li>
        <li><a href="#">Doing a pregnancy test</a></li>
        <li>{% include "includes/links/signs_pregnancy.html" %}</li>
        <li><a href="#">Finding out you're pregnant</a></li>
        
        
        

      </ul>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
    <ul class="nhsuk-list nhsuk-list-links">
      <li><a href="#">Have a healthy diet in pregnancy</a></li>
      <!--<li><a href="#">Drinking alcohol while pregnant</a></li>-->
      <li><a href="#">Overweight and pregnant</a></li>
      <li><a href="#">Foods to avoid in pregnancy</a></li>
      <!--<li><a href="#">Exercise in pregnancy</a></li>-->
      <li><a href="#">Vitamins, supplements and nutrition in pregnancy</a></li>
      <li><a href="#">NHS - Infertility diagnosis</a></li>
      <!--<li><a href="#">NHS - Infertility treatment</a></li>-->
      <li><a href="#">NHS - IVF</a></li>
    </ul>
  </div>
</div>

