<div class="block-links_list_group">
  <h2>Popular pages</h2>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
      <ul class="nhsuk-list nhsuk-list-links">
        <li><a href="javascript:void(0);">Planning your pregnancy</a></li>
        <li><a href="javascript:void(0);">Trying to get pregnant</a></li>
        <li><a href="javascript:void(0);">How long does it usually take to get pregnant?</a></li>
        <li><a href="javascript:void(0);">Doing a pregnancy test</a></li>
        <li>{% include "includes/links/signs_pregnancy.html" %}</li>
        <li><a href="javascript:void(0);">Finding out you're pregnant</a></li>
        
        
        

      </ul>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
    <ul class="nhsuk-list nhsuk-list-links">
      <li><a href="javascript:void(0);">Have a healthy diet in pregnancy</a></li>
      <!--<li><a href="javascript:void(0);">Drinking alcohol while pregnant</a></li>-->
      <li><a href="javascript:void(0);">Overweight and pregnant</a></li>
      <li><a href="javascript:void(0);">Foods to avoid in pregnancy</a></li>
      <!--<li><a href="javascript:void(0);">Exercise in pregnancy</a></li>-->
      <li><a href="javascript:void(0);">Vitamins, supplements and nutrition in pregnancy</a></li>
      <li><a href="javascript:void(0);">NHS - Infertility diagnosis</a></li>
      <!--<li><a href="javascript:void(0);">NHS - Infertility treatment</a></li>-->
      <li><a href="javascript:void(0);">NHS - IVF</a></li>
    </ul>
  </div>
</div>

