<div class="block-links_list_group">
  <h2>Relevant pages</h2>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
      <ul class="nhsuk-list nhsuk-list-links">
        <li>{% include "includes/links/signs_labour.html" %}</li>
        <li>{% include "includes/links/pack_your_bag.html" %}</li>
        <li>{% include "includes/links/pain_relief.html" %}</li>
        <li><a href="javascript:void(0);">What happens during labour and birth</a></li>                   
      </ul>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
    <ul class="nhsuk-list nhsuk-list-links"> 
      <li>{% include "includes/links/tips_for_partners.html" %}</li>
      <li><a href="javascript:void(0);" title="">What happens straight after the birth?</a></li>
      <li><a href="javascript:void(0);" title="">NHS - Pre-eclampsia</a></li>
      <li><a href="javascript:void(0);" title="">Your body just after the birth</a></li>
    </ul>
  </div>
</div>