<div class="block-links_list_group">
  <h2>Relevant pages</h2>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
      <ul class="nhsuk-list nhsuk-list-links">
        <li>{% include "includes/links/twelve_week_scan.html" %}</li>
        <li>{% include "includes/links/test_downs.html" %}</li>
        <li>{% include "includes/links/antenatal_checks.html" %}</li>                     
      </ul>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
    <ul class="nhsuk-list nhsuk-list-links"> 
      <li><a href="javascript:void(0);" title="">Headaches in pregnancy</a></li>
      <li><a href="javascript:void(0);" title="">Work and pregnancy</a></li> 
      <li>{% include "includes/links/pregnancy_to_do.html" %}</li>
      <li><a href="javascript:void(0);" title="">Should I limit caffeine during pregnancy?</a></li>
    </ul>
  </div>
</div>