<div class="block-links_list_group">
  <h2>Popular pages</h2><a name="links"></a>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
      <ul class="nhsuk-list nhsuk-list-links">
        <div>{% include "includes/links/pregnancy_to_do.html" %}</div>
        <div>{% include "includes/links/signs_pregnancy.html" %}</div>
        <div><a href="#links">Foods to avoid in pregnancy</a></div>
        <div>{% include "includes/links/twelve_week_scan.html" %}</div> 
        <div><a href="#links">Not sure you want to be pregnant?</a></div>
      </ul>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
    <ul class="nhsuk-list nhsuk-list-links">
      <div><a href="#links">How to make a birth plan</a></div>
      <div>{% include "includes/links/signs_labour.html" %}</div>
      <div>{% include "includes/links/pain_relief.html" %}</div> 
      <div><a href="#links">What happens during labour and birth</a></div>  
    </ul>
  </div>
</div>