<div class="block-links_list_group">
  <h2>Popular pages</h2>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
      <ul class="nhsuk-list nhsuk-list-links">
        <li>{% include "includes/links/pregnancy_to_do.html" %}</li>
        <li>{% include "includes/links/signs_pregnancy.html" %}</li>
        <li><a href="javascript:void(0);">Foods to avoid in pregnancy</a></li>
        <li>{% include "includes/links/twelve_week_scan.html" %}</li> 
        <li><a href="javascript:void(0);">Not sure you want to be pregnant?</a></li>
      </ul>
  </div>
  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
    <ul class="nhsuk-list nhsuk-list-links">
      <li><a href="javascript:void(0);">How to make a birth plan</a></li>
      <li>{% include "includes/links/signs_labour.html" %}</li>
      <li>{% include "includes/links/pain_relief.html" %}</li> 
      <li><a href="javascript:void(0);">What happens during labour and birth</a></li>  
    </ul>
  </div>
</div>