{% set pageTitle = "Week 37" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_impregnant_weeksthirtysevenfourtytwo_levelsix.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ pageTitle }}
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
    </h1>
    <p>Quisque ut dolor gravida, placerat libero vel, euismod. A communi observantia non est recedendum.</p>
  </div>
</div>
<hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% include "includes/paginations/week_thirty_seven.html" %} 
  </div>
</div> 
<hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds"> 
    <section>
      <h2>Things to think about</h2>
      <p>These are the things that you should consider and need to think about now.</p>
      <ul>
        <li>The signs that labour might be starting</li>
        <li>Your pain relief options in labour, including things you can do yourself</li>
        <li>when to contact your antenatal team during labour, when to go to the maternity unit and what to expect</li>
        <li>what your birth partner can do to support you during labour and birth</li>
        <li>a breech birth, when a baby is born bottom first, which is more complicated than a head-first birth</li>  
        <li>a caesarean birth, when you have surgery to deliver your baby</li>
        <li>the newborn blood spot (heel prick) test that'll be offered to your baby</li>
      </ul>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li>{% include "includes/links/signs_labour.html" %}</li>
          <li>{% include "includes/links/pain_relief.html" %}</li>
          <li><a href="javascript:void(0);" title="">At the hospital or birth centre</a></li>
          <li>{% include "includes/links/tips_for_partners.html" %}</li>
          <li><a href="javascript:void(0);" title="">What happens if your baby is breech?</a></li>
          <li><a href="javascript:void(0);" title="">NHS - Caesarean section</a></li>
          <li><a href="javascript:void(0);" title="">Newborn blood spot test</a></li>
          
        </ul>
      </div>
      <hr class="nhsuk-hr">
    </section>
    <section>
      <h2>You at {{ pageTitle }}</h2>
      <p>When you're around 37 weeks pregnant, if it's your first pregnancy, your baby moves down ready to be born. You may feel more comfortable when this happens, and you'll probably also feel increased pressure in your lower abdomen.</p>
      <p>If it's not your first pregnancy, the baby may not move down until labour.</p>
      <p>You may notice your breasts leaking some fluid, and this is normal.</p>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3>
        <ul>
          <li><a href="javascript:void(0);" title="">Leaking from your nipples</a></li>
        </ul>
      </div>
      <hr class="nhsuk-hr">
    </section>
    <section>
      <h2>Your baby at {{ pageTitle }}</h2>
      <p>At 37 weeks, your pregnancy is considered full-term. The average baby weighs around 3-4kg by now. Your baby is ready to be born, and you'll be meeting them some time in the next few weeks.</p>
      <p>Your baby's gut (digestive system) now contains meconium – the sticky green substance that will form your baby's first poo after birth. It may include bits of the lanugo (fine hair) that covered your baby earlier in pregnancy.</p>
      <hr class="nhsuk-hr">
    </section>
    {% include "includes/videos/vid_positions.html" %}
    <section>
      {% include "includes/link_clusters/last_trimester_external.html" %}
    </section>
    <hr class="nhsuk-hr">

  </div>
</div> 
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% include "includes/paginations/week_thirty_seven.html" %} 
  </div>
</div> 
{% endblock %}
