{% set pageTitle = "Week 38" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_impregnant_weeksthirtysevenfourtytwo_levelsix.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ pageTitle }}
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
    </h1>
    <p>Most women go into labour between 38 and 42 weeks of pregnancy. Your midwife or doctor should give you information about what to expect if your baby is overdue.</p>
  </div>
</div>
<hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% include "includes/paginations/week_thirty_eight.html" %} 
  </div>
</div> 
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <hr class="nhsuk-hr">
    <section>
      <h2>Things to think about</h2>
      <p>These are the things that you should consider and need to think about now.</p>
      <ul>
        <li>You'll soon be meeting your newborn – get tips for new parents</li>
        <li>How skin-to-skin cuddles help you and your newborn</li>
        <li>How to soothe a crying baby</li>
      </ul>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3><a name="think">
        <ul>
          <li><a href="#think" title="">Tips for new parents</a></li>
          <li><a href="#think" title="">Breastfeeding: the first few days</a></li>
           <li><a href="#think" title="">Soothing a crying baby</a></li>
        </ul>
      </div>
      <hr class="nhsuk-hr">
    </section>
    <section>
      <h2>You at {{ pageTitle }}</h2>
      <p>Most women go into labour between 38 and 42 weeks of pregnancy. Your midwife or doctor should give you information about what to expect if your baby is overdue.</p>
      <p>Read Choices When Pregnancy Reaches 41 weeks (PDF, 536kb) to find out more about your options.</p>
      <p>Call your hospital or midwife at any time if you have any worries about your baby, including your baby's movements, or about labour and birth.</p>
      <p>Think about your pain relief options during labour, and things you can do yourself to cope with the feeling of contractions.</p>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3><a name="you"></a>
        <ul>
          <li><a href="#you" title="">Choices When Pregnancy Reaches 41 weeks (PDF, 536kb)</a></li>
          <li><a href="#you" title="">Your baby's movements</a></li>
          <li>{% include "includes/links/pain_relief.html" %}</li>
        </ul>
      </div>
      <hr class="nhsuk-hr">
    </section>
    <section>
      <h2>Your baby at {{ pageTitle }}</h2>
      <p>If your baby does a poo during labour, which can sometimes happen, the amniotic fluid will contain meconium. If this is the case, your midwife will want to monitor your baby closely as it could mean he or she is stressed.</p>
      <hr class="nhsuk-hr">
    </section>
    {% include "includes/videos/vid_pain_relief.html" %}
    <section>
      {% include "includes/link_clusters/last_trimester_external.html" %}
      <hr class="nhsuk-hr">
    </section>
  </div>
</div> 
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% include "includes/paginations/week_thirty_eight.html" %} 
  </div>
</div> 
{% endblock %}
