{% set pageTitle = "The birth" %}
{% set parentPage = "Labour and birth" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_labourbirth_levelfive.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ pageTitle }}
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
    </h1>
    <p>xxxxxx</p>
    <hr class="nhsuk-hr">
  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <hr class="nhsuk-hr">
    <div class="block-links_list_group">
      <h2>All pages</h2><a name="links"></a>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
        <ul class="nhsuk-list nhsuk-list-links">
          <li></li>
          <li>{% include "includes/links/pain_relief.html" %}</li>
          <li>{% include "includes/links/birth_plan.html" %}</li>
          <li><a href="#links" title="">Pregnancy, birth and beyond for dads and partners</a></li>
          <li><a href="#links">What happens during labour and birth</a></li>       
          <li></li>    
        </ul>
      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirdsnhsuk-grid-column-one-half">
        <ul class="nhsuk-list nhsuk-list-links">
          <li>{% include "includes/links/pack_your_bag.html" %}</li>
          <li>{% include "includes/links/tips_for_partners.html" %}</li>
          <li><a href="#links">At the hospital or birth centre</a></li>
          <li><a href="#links">What happens straight after the birth?</a></li>
          <li><a href="#links">Premature or ill babies</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> 
<hr class="nhsuk-hr">




{% endblock %}