{% set pageTitle = "The birth" %}
{% set parentPage = "Labour and birth" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_labourbirth_levelfive.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ pageTitle }}
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
    </h1>
    <p>This page provides links to all the pages and topics relating to your labour. It's helpful for you and whoever is going to be with you during the birth to know about the different options, as well as how to prepare for the birth and what happens afterwards.</p>
  </div>
</div>
<hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="block-links_list_group">
      <h2>All Labour pages</h2>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
        <ul class="nhsuk-list nhsuk-list-links">
          <li><a href="javascript:void(0);">What happens during labour and birth</a></li> 
          <li><a href="javascript:void(0);">At the hospital or birth centre</a></li>
          <li>{% include "includes/links/pain_relief.html" %}</li>
          <li>{% include "includes/links/tips_for_partners.html" %}</li>          
          <li>{% include "includes/links/birth_plan.html" %}</li>
          <li><a href="javascript:void(0);" title="">Pregnancy, birth and beyond for dads and partners</a></li>      
             
        </ul>
      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
        <ul class="nhsuk-list nhsuk-list-links">     
          <li><a href="javascript:void(0);">What happens straight after the birth?</a></li>
          <li><a href="javascript:void(0);">Your body just after the birth</a></li> 
          <li><a href="javascript:void(0);" title="">Episiotomy and perineal tears</a></li>
          <li><a href="javascript:void(0);">Caesarean</a></li>
          <li><a href="javascript:void(0);" title="">What happens if your baby is breech?</a></li>
          <li><a href="javascript:void(0);">Premature or ill babies</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> 
<hr class="nhsuk-hr">
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Related topics</h2>
   <div class="nhsuk-grid-row nhsuk-promo-group"> 
      {% include "includes/promos/promo_newborns.html" %}
      {% include "includes/promos/promo_newparents.html" %}
      {% include "includes/promos/promo_pregwrong.html" %}        
    </div>
  </div>
</div>



{% endblock %}