{% set pageTitle = "Pain Relief" %}
{% set parentPage = "The birth" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
 NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_labourbirth_birth_levelsix.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>
        {{ pageTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ parentPage }}
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/labour-birth/the-birth/pain-relief",
            text: "Your pain relief options"
          },
          {
            href: "/labour-birth/the-birth/pain-relief-2",
            text: "Gas and air (Entonox) for labour"
          },
          {
            href: "/labour-birth/the-birth/pain-relief-3",
            text: "Injections and epidurals for labour"
          },
          {
            href: "/labour-birth/the-birth/pain-relief-4",
            text: "Self help, water and TENS",
            current: "true"
          },
          {
            href: "/labour-birth/the-birth/pain-relief-5",
            text: "Alternative methods of pain relief"
          }
        ]
      }) }}

      
      <h2>Self-help in labour</h2>
      <p>You're likely to feel more relaxed in labour and better placed to cope with the pain if you: 
        <ul>
          <li>learn about labour – this can make you feel more in control and less frightened about what's going to happen; talk to your midwife or doctor, ask them questions, and go to antenatal classes</li>
          <li>learn how to relax, stay calm, and breathe deeply</li>
          <li>keep moving – your position can make a difference, so try kneeling, walking around, or rocking backwards and forwards</li>
          <li>bring a partner, friend or relative to support you during labour, but don't worry if you don't have one – your midwife will give you all the support you need</li>
          <li>ask your partner to massage you – although you may find you don't want to be touched</li>
          <li>have a bath</li>
        </ul>
      </p>

      <h2>Using water in labour (water birth)</h2>
      <p>Being in water can help you relax and make the contractions seem less painful. Ask if you can have a bath or use a birth pool. The water will be kept at a comfortable temperature, but not above 37.5C, and your temperature will be monitored.</p>

      The National Childbirth Trust has information on using water during labour and birth.

      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3><a name="prepare1"></a>
        <ul>
          <li><a href="#prepare1" title="">The National Childbirth Trust</a></li>
        </ul>
      </div>

      <h2>TENS machines</h2>
      <p>This stands for transcutaneous electrical nerve stimulation. Some hospitals have TENS machines. If not, you can hire your own machine.</p>

      <p>TENS has not been shown to be effective during the active phase of labour, when contractions get longer, stronger and more frequent. It's probably most effective during the early stages, when many women experience lower back pain.</p>

      <p>TENS may also be useful while you're at home in the early stages of labour or if you plan to give birth at home. If you're interested in TENS, learn how to use it in the later months of your pregnancy. Ask your midwife to show you how it works.</p>

      <h3>How TENS machines work</h3>
      <p>Electrodes are taped on to your back and connected by wires to a small battery-powered stimulator. Holding this, you give yourself small, safe amounts of current through the electrodes. You can move around while you use TENS.</p> 

      <p>TENS is believed to work by stimulating the body to produce more of its own natural painkillers, called endorphins. It also reduces the number of pain signals sent to the brain by the spinal cord.</p>

      <h3>Side effects of TENS machines</h3>
      <p>There are no known side effects for either you or the baby.</p>

      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3><a name="prepare1"></a>
        <ul>
          <li><a href="#prepare1" title="">NHS - TENS (transcutaneous electrical nerve stimulation)</a></li>
        </ul>
      </div>

      

      {{ pagination({
        "previousUrl": "/labour-birth/the-birth/pain-relief-3",
        "previousPage": "Injections and epidurals for labour",
        "nextUrl": "/labour-birth/the-birth/pain-relief-5",
        "nextPage": "Alternative methods of pain relief"
      }) }}

    </div>
  </div>
{% endblock %}
