<a name="week_pagination"></a>
<nav>
  <ul class="nhsuk-week__pagination">
    <li data-item-id="pregnancy_week" data-id="week_thirty_seven">
      <a href="/im-pregnant/weeks-thirty-seven-to-fourty/week-thirty-seven" class="nhsuk-promo__link-wrapper">
        <hgroup><h3>Week</h3><h4>37</h4></hgroup>
      </a>
    </li>
    <li data-item-id="pregnancy_week" data-id="week_thirty_eight">
      <div class="nhsuk-promo__link-wrapper current">
        <hgroup><h3>Week</h3><h4>38</h4></hgroup>
      </div>
    </li>
    <li data-item-id="pregnancy_week" data-id="week_thirty_nine">
      <a href="/im-pregnant/weeks-thirty-seven-to-fourty-two/week-thirty-nine" class="nhsuk-promo__link-wrapper">
        <hgroup><h3>Week</h3><h4>39</h4></hgroup>
      </a>
    </li>
    <li data-item-id="pregnancy_week" data-id="week_fourty">
      <a href="#" class="nhsuk-promo__link-wrapper">
        <hgroup><h3>Week</h3><h4>40</h4></hgroup>
      </a>
    </li>
    <li data-item-id="pregnancy_week" data-id="week_fourty-one">
      <a href="#" class="nhsuk-promo__link-wrapper">
          <hgroup><h3>Weeks</h3><h4>41</h4></hgroup>
      </a>
    </li>
    <li data-item-id="pregnancy_week" data-id="week_fourty-two">
      <a href="#" class="nhsuk-promo__link-wrapper">
          <hgroup><h3>Weeks</h3><h4>42</h4></hgroup>
      </a>
    </li>
  </ul>
</nav>