<a name="week_pagination"></a>
<nav>
  <ul class="nhsuk-week__pagination">
    <li data-item-id="pregnancy_week" data-id="weeks_one_to_three">
      <a href="/im-pregnant/weeks-one-to-eight/weeks-one-to-three" class="nhsuk-promo__link-wrapper">
          <hgroup><h3>Weeks</h3><h4>1 - 3</h4></hgroup>
      </a>
    </li>
    <li data-item-id="pregnancy_week" data-id="week_four">
      <div class="nhsuk-promo__link-wrapper current">
        <hgroup><h3>Week</h3><h4>4</h4></hgroup>
      </div>
    </li>
    <li data-item-id="pregnancy_week" data-id="week_five">
      <a href="/im-pregnant/weeks-one-to-eight/week-five" class="nhsuk-promo__link-wrapper">
        <hgroup><h3>Week</h3><h4>5</h4></hgroup>
      </a>
    </li>
    <li data-item-id="pregnancy_week" data-id="week_six">
      <a href="#week_pagination" class="nhsuk-promo__link-wrapper">
        <hgroup><h3>Week</h3><h4>6</h4></hgroup>
      </a>
    </li>
    <li data-item-id="pregnancy_week" data-id="week_seven">
      <a href="#week_pagination" class="nhsuk-promo__link-wrapper">
        <hgroup><h3>Week</h3><h4>7</h4></hgroup>
      </a>
    </li>
  </ul>
</nav>