{% set pageTitle = "Weeks 9 to 12" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_impregnant_levelfive.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ pageTitle }}
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
    </h1>
    <p>This page provides links to all the pages and topics relating to being in this part of your pregnancy. These are <strong>important weeks</strong> as you'll be offered various tests and scans in the third month of pregnancy including <strong>the 12 week dating scan</strong> and screening to find the baby's chance of having Down's syndrome.</p>
  </div>
</div>
<hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Your pregnancy week by week</h2>
    {% include "includes/carousels/carousel_weeks_nine_to_twelve.html" %}
  </div> 
</div> 
<hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full"> 
    {% include "includes/link_clusters/nine_to_twelve.html" %}
  </div>
</div> 
<hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% include "includes/promo_clusters/nine_to_twelve.html" %}
  </div>
</div>
<hr class="nhsuk-hr">

{% endblock %}
