{% set pageTitle = "Week 11" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_impregnant_weeksninetwelve_levelsix.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ pageTitle }}
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
    </h1>
    <p>Headaches in pregnancy can be caused by changes in your body. Find out how to care for headaches yourself and when you should contact your doctor or midwife.</p>
  </div>
</div>
<hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {% include "includes/paginations/week_eleven.html" %}  
    <hr class="nhsuk-hr">
    <section>
      <h2>Things to think about</h2>
      <p>These are the things that you should consider and need to think about now.</p>
      <ul>
        <li>The screening test for Down's, Edwards' and Patau's syndromes involves a blood test and an ultrasound scan, offered between 8 and 11 weeks of pregnancy. If you choose to have this screening test, it can be done at the same time as the dating scan.</li>
        <li>If you're pregnant and working, find out about your legal rights, including paid time off for antenatal (pregnancy) care, maternity leave, protection of your health and safety at work, and more.</li>
      </ul>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3><a name="think">
        <ul>
          <li>{% include "includes/links/antenatal_checks.html" %}</li>
          <li>{% include "includes/links/twelve_week_scan.html" %}</li>
          <li>{% include "includes/links/test_downs.html" %}</li>
          <li><a href="#you" title="">Work and pregnancy</a></li>
        </ul>
      </div>
      <hr class="nhsuk-hr">
    </section>
    <section>
      <h2>You at {{ pageTitle }}</h2>
      <p>Headaches in pregnancy can be caused by changes in your body.</p>
      <p>Find out how to care for headaches yourself and when you should contact your doctor or midwife.</p>
      <p>Limiting the amount of caffeine you have in pregnancy can reduce the chances of miscarriage and your baby weighing less than normal when they're born (low birth weight).</p>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3><a name="you"></a>
        <ul>
          <li><a href="#you" title="">Headaches in pregnancy</a></li>
          <li><a href="#you" title="">Should I limit caffeine during pregnancy?</a></li>
        </ul>
      </div>
      <hr class="nhsuk-hr">
    </section>
    <section>
      <h2>Your baby at {{ pageTitle }}</h2>
      <p>The baby grows quickly and the placenta is rapidly developing – it'll be fully formed at about 12 weeks.</p>
      <p>The bones of the face are formed now. The eyelids are closed and won't open for a few months yet.</p>
      <p>The ear buds developing on the sides of your baby's head look more like ears as they grow.</p>
      <p>Your baby's head makes up one-third of its length, but the body is growing fast – it's straightening, and the fingers and toes are separating. There are fingernails.</p>
      <hr class="nhsuk-hr">
    </section>
    {% include "includes/videos/vid_downs_test.html" %}
    <section>
      {% include "includes/link_clusters/early_days_external.html" %}
    </section>
    <hr class="nhsuk-hr">
    {% include "includes/paginations/week_eleven.html" %}  
    <hr class="nhsuk-hr">
  </div>
</div> 
{% endblock %}
