{% set pageTitle = "Week 12" %}
{% set parentPage = "I'm pregnant" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_impregnant_levelfive.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1>
      {{ pageTitle }}
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
    </h1>
    <p>Quisque ut dolor gravida, placerat libero vel, euismod. A communi observantia non est recedendum.</p>
  </div>
</div>
<hr class="nhsuk-hr">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    {% include "includes/paginations/week_twelve.html" %}  
    <hr class="nhsuk-hr">
    <section>
      <h2>Things to think about</h2>
      <p>These are the things that you should consider and need to think about now.</p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Relevant links</h3><a name="think">
        <ul>
          <li>{% include "includes/links/birth_plan.html" %}</li>
          <li>{% include "includes/links/test_downs.html" %}</li>
          <li><a href="#think" title="">Where to give birth: the options</a></li>
        </ul>
      </div>
      <hr class="nhsuk-hr">
    </section>
    <section>
      <h2>You at {{ pageTitle }}</h2>
      <p>Excepteur sint obcaecat cupiditat non proident culpa. Pellentesque habitant morbi tristique senectus et netus. Curabitur est gravida et libero vitae dictum. Ut enim ad minim veniam, quis nostrud exercitation.</p>
      <div class="nhsuk-navigation__contextual-links">
        <h3>Relevant links</h3><a name="you"></a>
        <ul>
          <li><a href="#you" title=""></a></li>
          <li><a href="#you" title=""></a></li>
          <li><a href="#you" title=""></a></li>
        </ul>
      </div>
      <hr class="nhsuk-hr">
    </section>
    <section>
      <h2>Your baby at {{ pageTitle }}</h2>
      <p>Ab illo tempore, ab est sed immemorabili. Tityre, tu patulae recubans sub tegmine fagi dolor. Quae vero auctorem tractata ab fiducia dicuntur.</p>
      <hr class="nhsuk-hr">
    </section>
    {% include "includes/videos/vid_domestic_abuse.html" %}
    {% include "includes/link_clusters/early_days_external.html" %}
  </div>
</div> 
{% endblock %}
