{% set pageTitle = "Labour and birth" %}
{% set parentPage = "Pregnancy" %}
{% extends 'layouts/layout-nhsuk.html' %}


{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}


{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_levelfour.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        {{ pageTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
      </h1>
      <p>Find out all you need to know including signs of labour, where you can have your baby, how to prepare for the birth and you and your baby after the birth.</p>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <hr class="nhsuk-hr"> 
    
    <div class="nhsuk-grid-row nhsuk-promo-group">
      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item  nhs-promo__level-four">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/labour-birth/the-start-of-labour/">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">The start of labour</h3>
              <p class="nhsuk-promo__description">The start of labour is called the latent phase. This is when your cervix becomes soft and thin, and starts opening for your baby to be born. This can take hours or, for some women, days.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item  nhs-promo__level-four">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="/labour-birth/the-birth/">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">The birth</h3>
              <p class="nhsuk-promo__description">It's helpful for whoever is going to be with you during your labour to know about the different options, as well as how they can support you.</p>
            </div>
          </a>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <hr class="nhsuk-hr">
    <div class="block-links_list_group">
      <h2>Popular pages</h2><a name="links"></a>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds nhsuk-grid-column-one-half">
            <ul class="nhsuk-list nhsuk-list-links">
              <li>{% include "includes/links/signs_labour.html" %}</li>
              <li>{% include "includes/links/pain_relief.html" %}</li>
              <li><a href="#links" title="">Pregnancy, birth and beyond for dads and partners</a></li>
              <li><a href="#links">What happens during labour and birth</a></li>       
              <li><a href="#links">Premature labour</a></li>    
            </ul>
        </div>
        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirdsnhsuk-grid-column-one-half">
          <ul class="nhsuk-list nhsuk-list-links">
            <li>{% include "includes/links/pack_your_bag.html" %}</li>
            <li>{% include "includes/links/tips_for_partners.html" %}</li>
            <li><a href="#links">At the hospital or birth centre</a></li>
            <li><a href="#links">What happens straight after the birth?</a></li>
            <li><a href="#links">Premature or ill babies</a></li>
          </ul>
        </div>
      </div>
      
  </div>
</div> 
<hr class="nhsuk-hr">
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>{{ pageTitle }} topics</h2>

    <div class="nhsuk-grid-row nhsuk-promo-group">    
     <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Preparing for birth</h3>
              <p class="nhsuk-promo__description">From pain relief, what to pack for the birth, to what happens whilst you're in labour.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Pain relief</h3>
              <p class="nhsuk-promo__description">It can help to learn about all the ways you can relieve the pain for you and whoever is going to be with you during your labour.</p>
            </div>
          </a>
        </div>
      </div>

      

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Complications during birth</h3>
              <p class="nhsuk-promo__description">From breech birth, caesarean section and forcep deliveries.</p>
            </div>
          </a>
        </div>
      </div>
        
    </div>

    <div class="nhsuk-grid-row nhsuk-promo-group">
      
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">New parents</h3>
              <p class="nhsuk-promo__description">Everything from getting breastfeeding started, to washing and bathing your baby and changing their nappy</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Twins</h3>
              <p class="nhsuk-promo__description">Find out all you need to know about twins and multiple births.</p>
            </div>
          </a>
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
        <div class="nhsuk-promo">
          <a class="nhsuk-promo__link-wrapper" href="">
            <div class="nhsuk-promo__content">
              <h3 class="nhsuk-promo__heading">Newborns</h3>
              <p class="nhsuk-promo__description">Get to know your newborn and find out what to expect in the first few days.</p>
            </div>
          </a>
        </div>
      </div>
      
      
      
    </div>
    <hr class="nhsuk-hr">
  </div>
</div>


{% endblock %}
