{% set pageTitle = "Signs and symptoms of pregnancy" %}
{% set parentPage = "Am I pregnant?" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_getting_pregnant_am_i_pregnant_levelsix.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>
        {{ pageTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom ">
          {{ parentPage }}
        </span>
      </h1>

      {{ contentsList({
        items: [
          {
            href: "/getting-pregnant/am-i-pregnant/signs-of-pregnancy",
            text: "Early signs of pregnancy",
            current: "true"
          },
          {
            href: "/getting-pregnant/am-i-pregnant/signs-of-pregnancy-2",
            text: "If you're worried about symptoms"
          },
          {
            href: "/getting-pregnant/am-i-pregnant/signs-of-pregnancy-3",
            text: "If your pregnancy test is negative"
          }
        ]
      }) }}
      <h2>Early signs of pregnancy</h2>
      <p>For women who have a regular monthly menstrual cycle, the earliest and most reliable sign of pregnancy is a missed period. Women who are pregnant sometimes have a very light period, losing only a little blood.</p>
      <p>Some of the other early pregnancy signs and symptoms are listed below. Every woman is different and not all women will notice all of these symptoms.</p>
      
      <h3>Feeling sick during pregnancy</h3>
      <p>You may feel sick and nauseous, and/or vomit. This is commonly known as morning sickness, but it can happen at any time of the day or night.</p>
      <p>For most women who have morning sickness, the symptoms start around six weeks after their last period.</p>
      <p>If you're being sick all the time and can't keep anything down, contact your GP. The pregnancy condition hyperemesis gravidarum (HG) is a serious condition that causes severe vomiting and needs treatment.</p>
      
      <hr class="nhsuk-hr">
      <h3>Feeling tired is common in pregnancy</h3>
      <p>It's common to feel tired, or even exhausted, during pregnancy, especially during the first 12 weeks or so. Hormonal changes taking place in your body at this time can make you feel tired, nauseous, emotional and upset.</p>

      <h3>Sore breasts in early pregnancy</h3>
      <p>Your breasts may become larger and feel tender, just as they might do before your period. They may also tingle. The veins may be more visible, and the nipples may darken and stand out.</p>

      <h3>Peeing more often suggests pregnancy</h3>
      <p>You may feel the need to pee (urinate) more often than usual, including during the night.</p>
      <p>Other signs of pregnancy that you may notice are:
        <ul>
          <li>constipation</li>
          <li>an increased vaginal discharge without any soreness or irritation</li>
        </ul>
      </p>

      <h3>Strange tastes, smells and cravings</h3>
      <p>During early pregnancy, you may find that your senses are heightened and that some foods or drinks you previously enjoyed become repellent. You might notice:
        <ul>
          <li>a strange taste in your mouth, which many women describe as metallic</li>
          <li>that you crave new foods</li>
          <li>that you lose interest in certain foods or drinks that you previously enjoyed – such as tea, coffee or fatty food</li>
          <li>that you lose interest in tobacco</li>
          <li>that you have a more sensitive sense of smell than usual – for example, to the smell of food or cooking</li>
        </ul>
      </p>
      <hr class="nhsuk-hr">

      <div class="nhsuk-navigation__contextual-links">
        <h3>Useful links</h3><a name="think">
        <ul>
          <li><a href="#think" title="">Vomiting and morning sickness in pregnancy</a></li>
          <li><a href="#think" title="">Severe vomiting in pregnancy</a></li> 
          <li><a href="#think" title="">Tiredness in pregnancy</a></li> 
          <li><a href="#think" title="">Common health problems in pregnancy</a></li> 
          <li><a href="#think" title="">Vaginal discharge in pregnancy</a></li>     
        </ul>
      </div>


      {{ pagination({
        "nextUrl": "/getting-pregnant/am-i-pregnant/signs-of-pregnancy-2",
        "nextPage": "If you're worried about symptoms"
      }) }}

    </div>
  </div>
{% endblock %}
