{% set pageTitle = "Pack your bag for labour" %}
{% set parentPage = "The start of labour" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
	{% include "includes/breadcrumbs/breadcrumb_labourbirth_labour_levelsix.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">
		<h1>
		  {{ pageTitle }}
		  <span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
		</h1>
		 <p>Whether you're planning to have your baby at home, in hospital or at a midwifery unit, you should get a few things ready <strong>at least 2 weeks</strong> before your due date.</p>
		<hr class="nhsuk-hr">

		<h2>What you'll need for labour and birth</h2>
		<p>If you're planning to give birth in a hospital or midwifery unit, your midwife will probably give suggestions of what you'll need to pack. This will include things for you and your new baby.</p>
		<p>You can use any kind of bag you want, from a rucksack to a small suitcase.</p>

		<div class="nhsuk-expander-group">
		  <details class="nhsuk-details nhsuk-expander">
		    <summary class="nhsuk-details__summary">
		      <span class="nhsuk-details__summary-text">
		        What you will need for yourself
		      </span>
		    </summary>
		    <div class="nhsuk-details__text">
		      <p>You will probably want to pack:
		      <ul>
		        <li>your birth plan and hospital notes</li>
		        <li>something loose and comfortable to wear during labour that doesn't restrict you from moving around or make you too hot, plus about 3 changes of clothes</li>
		        <li>2 or 3 comfortable and supportive bras, including nursing bras if you're planning to breastfeed – remember, your breasts will be much larger than usual</li>
		        <li>breast pads</li>
		        <li>a couple of packets of super-absorbent sanitary or maternity pads</li>
		        <li>5 or 6 pairs of knickers – you may want to bring some disposable ones</li>
		        <li>your washbag with toothbrush, hairbrush, flannel, soap, lip balm, deodorant, hair ties and other toiletries</li>
		        <li>towels</li>
		        <li>things to help you pass the time and relax – for example, books, magazines, music or podcasts</li>
		        <li>a fan or water spray to cool you down</li>
		        <li>front-opening or loose-fitting nighties or tops if you're going to breastfeed</li>
		        <li>dressing gown and slippers</li>
		        <li>a loose, comfortable outfit to wear home</li>
		        <li>a camera</li>
		        <li>healthy snacks and drinks</li>
		        <li>extra pillows</li>
		        <li>A TENS machine if you intend to use one</li>
		        <li>any medications you are taking</li>
		      </ul>

		    </div>
		  </details>
		  <details class="nhsuk-details nhsuk-expander">
		    <summary class="nhsuk-details__summary">
		      <span class="nhsuk-details__summary-text">
		        What you will need for the baby
		      </span>
		    </summary>
		    <div class="nhsuk-details__text">
		      <p>You might want to pack:</p>
		      <ul>
		        <li>bodysuits, vests and sleepsuits</li>
		        <li>an outfit for going home in</li>
		        <li>a hat, scratch mittens, and socks or booties</li>
		        <li>plenty of nappies</li>
		        <li>a shawl or blanket</li>
		        <li>muslin squares</li>
		        <li>a pram suit if it is cold</li>
		        <li>a car seat for the trip home</li>
		      </ul>
		    </div>
		  </details>
		</div>
		<hr class="nhsuk-hr">

		<h2>Home births</h2>
		<p>If you're planning to give birth at home, discuss your plans and what you need to prepare with your midwife. Think about where in your home you want to give birth. You're likely to need:
			<ul>
				<li>clean bed clothes and towels</li>
				<li>clothes (including a hat) and nappies for the baby</li>
				<li>a couple of packets of super-absorbent sanitary or maternity pads</li>
			</ul>
		</p>
		<p>Even if you are planning to have your baby at home, you should pack some things in case you need to go into hospital at any point.</p>
		<hr class="nhsuk-hr">

		<h2>Important numbers</h2>
		<p>Wherever you're planning to give birth, keep a list of important numbers in your handbag or near the phone. </p>
		<p>You need to include:
			<ul>
				<li>your hospital, midwife or doula's phone number</li>
				<li>your partner or birth partner's phone number</li>
				<li>your own hospital reference number, which is on your card or notes (you will be asked for this when you phone in)</li>
			</ul>
		</p>
		<p>If you don't have a phone, ask neighbours if you can use theirs when the time comes. Some hospitals and midwifery units allow you to use your mobile phone. Check with your midwife. If you can't use your mobile phone, make sure you have a phonecard or change for a payphone.</p>
		<hr class="nhsuk-hr">

		<h2>Stocking up</h2>
		<p>When you come home, you won't want to do much more than rest and care for your baby, so do as much planning as you can in advance.</p>
		<p>Stock up on basics, such as toilet paper, sanitary towels and nappies. If you have a freezer, cook some meals in advance and freeze them.</p>
		<hr class="nhsuk-hr">

		<h2>Transport</h2>
		<p>You should plan how you'll get to the hospital or midwifery unit, because you might need to go there at any time of the day or night.</p>
		<p>If you're planning to go by car, make sure it's running well and that there's always enough petrol in the tank. If someone else has said they will take you, make an alternative arrangement just in case they're not available.</p>
		<p>If you haven't got a car, you could call a taxi – you should check ahead of time that your local taxi firm takes women in labour.</p>
		<p>Some maternity units may be able to arrange for an ambulance to pick you up. You should check with yours if they offer this service.</p>
		<hr class="nhsuk-hr">
    	{% include "includes/videos/vid_bag.html" %}
    	<hr class="nhsuk-hr">
		<div class="nhsuk-navigation__contextual-links">
	      <h3>Related pages</h3>
	      <ul>
	        <li><a href="javascript:void(0);" title="">Where to give birth: the options</a></li>
	        <li><a href="javascript:void(0);" title="">Find hospitals with maternity services near you.</a></li>
	        <li><a href="javascript:void(0);" title="">Your body just after the birth</a></li>
	      </ul>
	    </div>
	  </div>  
  </div>
{% endblock %}
