{% set pageTitle = "Signs that labour has begun" %}
{% set parentPage = "The start of labour" %}
{% extends 'layouts/layout-nhsuk.html' %}

{% block pageTitle %}
  NHS.UK - {{ parentPage }} - {{ pageTitle }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/breadcrumbs/breadcrumb_labourbirth_labour_levelsix.html" %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
	<h1>
		{{ pageTitle }}
		<span class="nhsuk-caption-xl nhsuk-caption--bottom">{{ parentPage }}</span>
	</h1>

	{{ contentsList({
    items: [
      {
        href: "/labour-birth/the-start-of-labour/signs-that-labour-has-begun",
        text: "Signs of labour"
      },
      {
        href: "/labour-birth/the-start-of-labour/signs-that-labour-has-begun-2",
        text: "Symptoms of labour"
      },
      {
        href: "/labour-birth/the-start-of-labour/signs-that-labour-has-begun-3",
        text: "How to cope when labour begins",
        current: "true"
      }
    ]
	}) }}

  <h2>How to cope when labour begins</h2>

	<p>At the beginning of labour, you can:
		<ul>
			<li>walk or move about, if you feel like it</li>
			<li>drink fluids – you may find sports (isotonic) drinks help keep your energy levels up</li>
			<li>have a snack, although many women don't feel very hungry and some feel, or are, sick</li>
			<li>try any relaxation and breathing exercises you've learned to deal with contractions as they get stronger and more painful – your birth partner can help by doing these with you</li>
			<li>have your birth partner rub your back – this can help relieve pain</li>
			<li>take paracetamol according to the instructions on the packet – paracetamol is safe to take in labour </li>
			<li>have a warm bath</li>
		</ul>
	</p>
  <hr class="nhsuk-hr">

	</section>
  	{% include "includes/videos/vid_labour.html" %}
  <section>
  <section>
    <div class="nhsuk-navigation__contextual-links">
      <h3>Related pages</h3>
      <ul>
        <li>{% include "includes/links/tips_for_partners.html" %}</li>
        <li><a href="javascript:void(0);" title="">What happens during labour and birth</a></li>
        <li>{% include "includes/links/pain_relief.html" %}</li>
        <li><a href="javascript:void(0);" title="">At the hospital or birth centre</a></li>
        <li><a href="javascript:void(0);" title="">What happens during labour and birth</a></li>
      </ul>
    </div>
    <h2>External links</h2>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
      <ul class="nhsuk-list nhsuk-list-links">
         <li><a href="javascript:void(0);" title="">Start4Life</a></li>
        <li><a href="javascript:void(0);">Start4Life's weekly emails</a></li>
        <li><a href="javascript:void(0);" title="">NICE - Guidance on the care of women and their babies during labour and childbirth</a></li>
      </ul>
    </div>
  </section>

	{{ pagination({
        "previousUrl": "/labour-birth/the-start-of-labour/signs-that-labour-has-begun-2",
        "previousPage": "Symptoms of labour"
      }) }}


  </div>
</div>

{% endblock %}
