<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript">
  $(document).on('ready', function() {
    $('.nhsuk-carousel').slick({
      infinite: true,mobileFirst : true,dots: false,slidesToShow: 4,slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 990,
          settings: { slidesToShow: 4, slidesToScroll: 4, infinite: true}
        },
        {
          breakpoint: 769,
          settings: { slidesToShow: 3, slidesToScroll: 3}
        },
        {
          breakpoint: 641,
          settings: { slidesToShow: 3, slidesToScroll: 2}
        },
        {
          breakpoint: 320,
          settings: { slidesToShow: 2, slidesToScroll: 1}
        },
        {
          breakpoint: 0,
          settings: { slidesToShow: 1, slidesToScroll: 1}
        }
      ]
    });
  });
</script>
<div class="nhsuk-carousel__container">
  <div class="nhsuk-carousel regular slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
    <div data-item-id="pregnancy_weeks" data-id="weeks_one_to_eight" class="nhsuk-carousel__pane" tabindex="0">
      <a href="/im-pregnant/weeks-one-to-eight/" class="nhsuk-promo__link-wrapper">
        <div class="nhsuk-carousel_item">
          <hgroup><h3>Weeks</h3><h4>1 to 8</h4></hgroup>
          <p class="nhsuk-promo__description">In the first 4 weeks of pregnancy, you probably won't notice any symptoms. See your Gp as soon as you find out.</p>
        </div> 
      </a>
    </div>
    <div data-item-id="pregnancy_weeks" data-id="weeks_nine_to_twelve" class="nhsuk-carousel__pane nhsuk-carousel__pane-milestone" tabindex="0">
      <a href="/im-pregnant/weeks-nine-to-twelve/" class="nhsuk-promo__link-wrapper">
        <div class="nhsuk-carousel_item">
          <hgroup><h3>Weeks</h3><h4>9 to 12</h4></hgroup>
          <p class="nhsuk-promo__description">IMPORTANT:<br /> 
          You'll be offered tests and scans including one to find the baby's chance of having Down's syndrome.</p>
        </div>
      </a>
    </div>

    <div data-item-id="pregnancy_weeks" data-id="weeks_thirteen_to_sixteen" class="nhsuk-carousel__pane" tabindex="0">
      <div class="nhsuk-promo__link-wrapper">
        <div class="nhsuk-carousel_item">
          <hgroup><h3>Weeks</h3><h4>13 to 16</h4></hgroup>
          <p class="nhsuk-promo__description">You may have backache in pregnancy as your womb gets heavier and pregnancy hormones affect the ligaments in your body.</p>
        </div>
      </div>
    </div>
    <div data-item-id="pregnancy_weeks" data-id="weeks_seventeen_to_twenty" class="nhsuk-carousel__pane" tabindex="0">
      <div class="nhsuk-promo__link-wrapper">
        <div class="nhsuk-carousel_item">
          <hgroup><h3>Weeks</h3><h4>17 to 20</h4></hgroup>
          <p class="nhsuk-promo__description">This detailed ultrasound scan, sometimes called the mid-pregnancy scan, is usually carried out when you're between 18 and 21 weeks pregnant.</p>
        </div>
      </div>
    </div>
    <div data-item-id="pregnancy_weeks" data-id="weeks_twenty_one_to_twenty_four" class="nhsuk-carousel__pane" tabindex="0">
      <div class="nhsuk-promo__link-wrapper">
        <div class="nhsuk-carousel_item">
          <hgroup><h3>Weeks</h3><h4>21 to 24</h4></hgroup>
          <p class="nhsuk-promo__description">By the time you're 24 weeks pregnant, the baby has a chance of survival if they are born.</p>
        </div>
      </div>
    </div>
    <div data-item-id="pregnancy_weeks" data-id="weeks_twenty_five_to_twenty_eight" class="nhsuk-carousel__pane" tabindex="0">
      <div class="nhsuk-promo__link-wrapper">
        <div class="nhsuk-carousel_item">
          <hgroup><h3>Weeks</h3><h4>25 to 28</h4></hgroup>
          <p class="nhsuk-promo__description">Download a birth plan template to fill in and save, stating your preferences for labour and birth.</p>
        </div>
      </div>
    </div>
    <div data-item-id="pregnancy_weeks" data-id="weeks_twenty_nine_to_thirty_two" class="nhsuk-carousel__pane" tabindex="0">
      <div class="nhsuk-promo__link-wrapper">
        <div class="nhsuk-carousel_item">
          <hgroup><h3>Weeks</h3><h4>29 to 32</h4></hgroup>
          <p class="nhsuk-promo__description">You may find it hard to sleep because you can't get comfortable. You might also find you need to pee a lot.</p>
        </div>
      </div>
    </div>
    <div data-item-id="pregnancy_weeks" data-id="weeks_thirty_three_to_thirty_six" class="nhsuk-carousel__pane" tabindex="0">
      <div class="nhsuk-promo__link-wrapper">
        <div class="nhsuk-carousel_item">
          <hgroup><h3 class="nhsuk-heading-s">Weeks</h3><h4>33 to 36</h4></hgroup>
          <p class="nhsuk-promo__description">Pre-eclampsia is a condition that affects some women in pregnancy, usually after 20 weeks, and it can be serious.</p>
        </div>
      </div>
    </div>
    <div data-item-id="pregnancy_weeks" data-id="weeks_thirty_seven_to_fourty" class="nhsuk-carousel__pane nhsuk-carousel__pane-milestone" tabindex="0">
      <a href="/im-pregnant/weeks-thirty-seven-to-fourty-two/" class="nhsuk-promo__link-wrapper">
        <div class="nhsuk-carousel_item">
          <hgroup><h3>Weeks</h3><h4>37 to 42</h4></hgroup>
          <p class="nhsuk-promo__description">Most women go into labour between 38 and 42 weeks of pregnancy.</p>
        </div>
      </a>
    </div>
  </div>
</div> 